<%- include('partials/header') %>

    <form action="/post" method="POST">
        <textarea name="content" rows="6" cols="40" placeholder="Write your thoughts here!" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

    </form>